<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <queries>
        <package android:name="com.google.android.apps.photos" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Keepers Photo Organiser"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Keepers">
        <activity
            android:name=".ReviewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviewActivity" android:exported="false" />
        <activity android:name=".PeopleActivity" android:exported="false" />
        <activity android:name=".AlbumReviewActivity" android:exported="false" />
        <activity android:name=".FaceGroupReviewActivity" android:exported="false" />
        <service
            android:name=".KeepersAccessibilityService"
            android:exported="true"
            android:label="Keepers one-shot Google Photos test"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>
</manifest>
